
.card_title, .text{
  text-align: center;
}
.extension{
  margin-bottom: 6rem;
}


@media (min-width: 600px) {
  .extension{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 800px;
}

.text-width{
    padding: 0 8rem;
  }


}

