.footer__container {
  height: auto;
  max-width: 100%;
}



.footer__top__container{
  height: auto;
  background-color: hsl(231, 69%, 60%);
  color: whitesmoke;
  padding: 0 3rem;
  margin-top: 12rem;
}

.footer__top {
  text-align: center;
  padding-top: 6rem;
}

.footer__top > p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.6rem
}

.footer__top > h2 {
  font-size: 2.6rem;
  margin-bottom: 2.6rem;
}

.form {
  width: 100%;
}

form > input , form > .footer__btn {
  width: 100%;
  padding: 1.6rem 0;
  border-radius: 10px;
  border: none;
}

form > input {
  margin-bottom: 1.6rem;
}

form > input:focus {
  border: none;
}

form > input::placeholder{
  font-size: 1.5rem;
  padding-left: 1.6rem;
}


.footer__btn {
  background-color: hsl(0, 94%, 66%) !important;
  margin-bottom: 6rem !important;
  font-size: 1.3rem !important;
  color: #fff;
}

.footer__btn:hover {
  background-color: #fff !important;
  color:hsl(0, 94%, 66%);
}

.footer__logo{
  margin-top: 2rem;
}

.footer__nav__container{
  min-height: 8rem;
  background-color: hsl(229, 31%, 21%);
  padding-bottom: 3rem;
}

.footer__nav, .nav__lists {
  text-align: center;
}

.footer_nav {
  max-width: 900px;
  margin: 0 auto;
}



.icon-footer{
    color: #fff;
  }

.nav__link{
  margin-bottom: 1.3rem;
}

.nav {
  margin-top: 2.2rem;
}

.nav__link a {
  color: hsl(229, 8%, 60%);
  text-decoration: none;
  font-size: 1.6em;
  letter-spacing: 4px;
}

.nav__lists{
  list-style: none;
  display: flex;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__nav-tags{
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* svg{
  font-size: 5rem;
  color: white;
} */

.footer__icons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

@media (min-width: 960px) {
  .footer__nav__container{
    padding: 0 8rem;
  }

  .nav {
  margin-top: 0;
}

  .footer__nav-tags{
    padding: 3rem 0px;

    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
  }

  .svg {
    width: 12rem;
    height: 3rem;
}

  .footer__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__lists {
    display: flex;
    margin-bottom: 0;
    gap: 1.6rem;
    flex-direction: row;
  }

  .footer__icons{
    margin-bottom: 0;
    display: flex;
    gap: 2rem;
    padding: 3rem 0px;
    align-self: center;

  }

  .icon-footer{
    color: white;
    padding: 0;


  }

  .icon-footer:hover {
    color: hsl(0, 94%, 66%);
  }

  .footer__logo{
    margin-top: 0;
  }

  .nav__link a {
  color: hsl(229, 8%, 60%);
  font-size: 1.2rem;
}

.nav__link a:hover {
  color: hsl(0, 94%, 66%);
}

.footer__top__container{
  background-color: hsl(231, 69%, 60%);
}

.footer__top{
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 3rem;
}



form {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
}

form > input , form > .footer__btn {
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem !important;

}

input{
  padding: 0;
}

.footer__btn {
  margin-bottom: 0 !important;
}

form > input::placeholder{
  font-size: 1.5rem;
  padding-left: 1.6rem;
}

form > .footer__btn{
  flex: 0.3;
}

form > input  {
  flex: 0.7;
  margin-bottom: 0;

}


form > input::placeholder{
  font-size: 0.8rem;
}


}