*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__body {
  margin: 0 1rem;
  font-size: 18px;
  max-width: 900px;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .app__body{
    padding: 0 3rem;
  }
}




